:root{
    /* colores primarios de la pagina en modo oscuro*/
--color-primario:   #ccbef1;
--color-secundario:  rgb(219, 198, 144);
--color-tercerio:  rgb(233, 168, 152);
--color-negro: rgb(255, 255, 255);
--color-blanco: rgb(0, 0, 0);

 /* colores de textos de la pagina oscuro */
 --text-color-primario:  rgb(232, 93, 4 );
 --text-color-secundario:  rgb(255, 186, 8 );
 --text-color-tercerio:  rgb(252, 247, 240 );

/* colores de fondos de la pagina oscuro */
--fondo-color-primario:  #101c24;
--fondo-color-secundario:  #833dc4;
--fondo-color-tercerio:  #4f000b;
}
body{
    background: var(--color-blanco);
}
.title{
    font-weight: 900;
}
.subtitle{
    font-weight: 700;
}
.text-bold{
font-weight: 600;

}