.main-contacto{
    background: var(--color-blanco);
    color: var(--color-negro)
}


.Texto-descriptivo-iframe-contacto {
    box-shadow: 1px 1px 10px var(--color-negro);
    border: 2px solid var(--color-negro);
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    min-height: 50vh;
    padding: 20px;
    margin: 20px auto;
    background: var(--fondo-color-primario);

}

.Texto-descriptivo-iframe-contacto>h1 {
    margin: 10px auto;

}
.Texto-descriptivo-iframe-contacto>p>a{
    align-items: start;
}
.Texto-descriptivo-iframe-contacto> iframe {
    margin: 20px auto;
   box-shadow:  2px 2px 10px var(--color-negro);;
   justify-self: center;
   align-items: center;
   
   border-radius: 20px;
}