.main-index {
    color: var(--color-blanco);
    width: 100%;
    margin: auto;
    
}
.container-Banner {
     width: 80%;
    padding: 20px;
}
.banner{
   background-color: var(--fondo-color-primario); 
    width: 80%;
    margin: 20px;
    display: flex;
    padding: 20px;
    margin: 10px auto;
    justify-content: space-between;
    border-radius: 10px;
    border-bottom: 5px solid black;
    justify-content: space-around;
    box-shadow: 2px 2px 2px;
}
.banner1, .banner2, .banner3 {

    height: 300px;
    width: 500px;
    border: 2px solid var(--color-blanco);
    box-shadow: 2px 2px 2px var(--color-negro);
    border-radius: 10px;
    background-image: url("../img/index/img-Banner/Banner1/CINEFLIX.jpg");
    background-size:cover;
    background-position: center;
}

.banner-inicio {
    width: 100%;
    text-align: center;
    border: none;
}
.textos{
    width: 30%;
}
.textos > p {
    font-size: 30px;
}
.textos  > h1 {
    
    padding: 10px;
    color: rgb(224, 138, 25);
    text-align: start;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.8);
    opacity: 0;
    animation: 4s tarde 1s ease forwards;
    
}
#textoUsuario{
font-weight: 900;
}
@keyframes tarde {
    from{
        scale: 1.2;
    opacity: 0;}
    to{opacity: 1;}
}

