@import "./Estilos/header.css";
@import "./Estilos/constantes.css";
@import "./Estilos/footer.css";
@import "./Estilos/LogIn.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
translate:inherit;
}