:root {
    /* colores primarios de la pagina en modo claro*/
    --color-primario: rgb(19, 20, 20);
    --color-secundario:  rgb(250, 176, 29);
    --color-tercerio:  rgb(73, 34, 70);
    
    --color-negro: rgb(0, 0, 0);
    --color-blanco: rgb(255 ,255 ,255);
    

    /* colores de textos de la pagina claro */
    --text-color-primario:  rgb(8, 24, 119);
    --text-color-secundario:  rgb(244, 140, 6);
    --text-color-tercerio:  rgb(157, 2, 8 );
    
   

    /* colores de fondos de la pagina claro */
    --fondo-color-primario:  #97d2e9; 
    --fondo-color-secundario:  #97d2e9; 
    --fondo-color-tercerio:  #e0acc0;
    
}