.main-LogIn{
    padding: 4%;
    min-height: 64vh;
    background: radial-gradient(var(--fondo-color-primario)30%, var(--color-blanco)80%);
}
.login-container {
    background: var(--fondo-color-primario);
    display: flex;
    width: 650px;
    margin: auto;
    min-height: 50vh;
    justify-content: space-between;
    border: 8px solid var(--color-blanco);
    box-shadow: 0px 0px 5px var(--color-negro);
    padding-right: 1%;
}

.login-title {
    padding: 20px;
    background-color: var(--fondo-color-primario);
    width: 50%;
    height: 1fr;
}

.login-title>h1 {
    
    color: var(--text-color-primario);
    font-size: 4em;

}

.login-container>h2 {
    color: var(--text-color-primario);
    text-shadow: 2px 2px 2px var(--text-color-secundario);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.login-container_form>svg {
    fill: #ccc;
    margin: auto;
    width: 100%;


}

.login-container_form {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    
}
.form-login{
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    animation: move 1s ease forwards;
    align-items: center;
    justify-content: center             ;
}

.form-group input::placeholder {
    color: var(--color-negro);
    font-size: 1.4em;
    padding: 5px;
}

.form-group>input {
margin: 8px auto;
    opacity: 0;
    width: 90%;
    height: 3em;
    border-radius: 8px;
    animation: move 1s ease forwards 1.5s;
}

.form-group>button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    margin: 8px auto;
    width: 45%;
    padding: 10px;
    background-color: var(--fondo-color-primario);
    color: var(--color-blanco);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    animation: move 1s ease forwards 2.5s;
}

@media screen and (max-width: 650px) {
    /*encabezado*/
    .contenedor-logotipo{
        display: block;
    
    }
    .login-container {
        display: block;
        width: 90%;
        justify-content: space-between;
        padding: 0%;
    }
    .login-title{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        gap: 20px;
    }
    .login-title>h1 {
        color: var(--text-color-primario);
        font-size: 3em;
        align-items: center ;
    
        animation: move 1s ease forwards;
    }

    footer {
        position: relative;
    }
}

@keyframes move {
    0% {
        opacity: 0;
        scale: 0.9;

    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}